*{
	margin:0px;
	padding:0px;
}

html, body{
	width:100%;
	height:100%;
	background-color:#FFF;
	font-family: Arial;
	color:#000;
}

.topSection{
	height:28px;
	width:100%;
	background-color:#111;
}

#toggleStateButton{
	display: block;
	position:relative;
	width: 75px;
	height:22px;
	background-color:#666;
	cursor:pointer;
	text-align:center;
	color:white;
	font-size:18px;
	padding-top:6px;
}

#toggleStateButton:hover, .tabButton:hover, #scanItemsButton:hover{
	background-color:#888;
}

.tabHolder{
	padding-top: 4px;
	height:26px;
	border-bottom:1px solid #ddd;
	border-top:1px solid #ddd;
	width:100%;
}

.tabButton{
	float:left;
	height:22px;
	padding-top: 4px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	color:white;
	background-color:#666;
	padding-left:3px;
	padding-right: 3px;
	margin-right:1px;
}

.editableLabel{
	width:40%;
	float:left;
	height:100%;
}

.editable{
	border-top:1px solid #999;
	border-bottom:1px solid white;
	height:25px;
}

.editable input{
	width:60%;
	border:0px;
	height:100%;
}

#elementsList{
	float:left;
}

#scanItemsButton{
	display: block;
	position:relative;
	width: 100px;
	height:20px;
	background-color:#666;
	cursor:pointer;
	text-align:center;
	color:white;
	font-size:16px;
	padding-top:2px;
	float:right;
}

#propertiesForm{
	display: block;
	position: relative;
	clear: both;
}